@charset "UTF-8";

/* colour scheme: #411505 #751500 #b98a87 #502620 #502620*/

body {
    color: white;
    background: linear-gradient(to bottom, #411505 0%, #751500 100%);
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 20px;
    margin: 0;
}

#wrapper {
    width: 100%;
    background-color: white;
    min-height: 100vh;
}

header {
    color: black;
    background: linear-gradient(45deg, #b98a87 0%, #502620 100%);
    padding: 20px;
    margin: 0;
}

nav a {
    color: black;
    text-decoration: underline;
}

#profile-photo {
    max-width: 100%;
    width: 200px;
    height: auto;
}

video {
    max-width: 100%;
    width: 440px;
    height: auto;
}

footer {
    color: white;
    background-color: #502620;
    padding: 10px;
}